@charset "UTF-8";

/* font-family: 'Passion One', sans-serif;
font-family: 'Sriracha', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {
    --fonte01: 'Passion One', sans-serif;
    --fonte02: 'Sriracha', cursive;
    --fonte03: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte03)
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 55px;
}

header h1 {
    font-size:10vw;
    font-variant: small-caps;
    font-family: var(--fonte01);
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    padding-top: 150px;
    padding-bottom: 150px;
    line-height: 2.5em;
    font-size: clamp(16px, 3vw, 35px)
}

section.imagem {
    box-shadow: inset 1px 6px 13px 0px rgba(0, 0, 0, 0.486);
    background-attachment: fixed;
}

section#img01 {
    background-image: url('/desafios/modulo-02/d012b/imagens/background001.jpg');
    background-size: cover;
    background-position: right center;
}

section#img02 {
    background-image: url('/desafios/modulo-02/d012b/imagens/background002.jpg');
    background-size: cover;
    background-position: right center;
}

pre {
    white-space: pre-line;
    font-family: var(--fonte02);
    padding-bottom: 10px;
    padding: 10px;
    
}

.imagem pre {
    color: white;
    background-color: rgba(0, 0, 0, 0.486);
    display: inline-block;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}